.input
  display: block
  width: 24vw
  max-width: 343px
  font-family: 'SF-Pro', sans-serif
  font-weight: normal
  font-size: 17px
  letter-spacing: -0.41px
  text-align: center
  caret-color: #002DFF
  border: none
  border-bottom: solid 1px rgba(60, 60, 67, 0.3)
  padding: 19px 0

  &::placeholder
    color: rgba(60, 60, 67, 0.3)